	<div class="card">
		<div class="sidenav h-100 modal-dialog bg-light">
			<div class="nav-active-text-primary ">
				<div class="pt-2">
					<div class="nav-fold px-2"><a class="d-flex p-2" data-toggle="dropdown"><span class="avatar w-40 rounded hide">J</span> <img src="<%=BaseUrl%>/admin/assets/img/<%= data.image  %>" alt="..." class="w-40 r"></a>
						<div class="hidden-folded flex p-2">
							<div class="d-flex"><div class="mr-auto text-nowrap"><a class="mr-auto text-nowrap"><%= data.name %> </a><small class="d-block text-muted">Employee</small></div>	
							</div>
						</div>
					</div>
				</div>
				<div class="nav-stacked nav-active-primary auto-nav" data-nav>
					<ul class="nav bg">
						<li class="nav-header hidden-folded"><span class="text-muted">Main</span>
						</li>
						<li><a href="<%=BaseUrl%>/task""><span class="nav-icon text-primary"><i data-feather="home"></i></span>  <span class="nav-text">Task&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
						</li>
						<li class="nav-header hidden-folded"><span class="text-muted">Applications</span>
						</li>
						<li><a href="<%=BaseUrl%>/update_note"><span class="nav-icon text-danger"><i data-feather="calendar"></i></span>  <span class="nav-text">History</span><span class="nav-badge"><b class="badge badge-pill bg-danger theme count"></b></span></a>
						</li>
						<li><a href="<%=BaseUrl%>/leave"><span class="nav-icon text-danger"><i data-feather="coffee"></i></span>  <span class="nav-text">Leave</span><span class="nav-badge"><b class="badge badge-pill bg-danger theme count"></b></span></a>
						</li>

						<p id="HRPMTL"></p>

						<!-- <li><a href="<%=BaseUrl%>/leave"><span class="nav-icon text-danger"><i data-feather="coffee"></i></span>  <span class="nav-text">Leave Accept</span><span class="nav-badge"><b class="badge badge-pill bg-danger theme count"></b></span></a>
						</li> -->
					</ul>
				</div>
			</div>
			<div class="py-2 mt-2 b-t no-shrink">
				<%if(sess.emailid){%>
                <ul class="nav no-border">
					<li><a href="<%=BaseUrl%>/logout"><span class="nav-icon"><i data-feather="power"></i> </span><span class="nav-text">Logout</span></a>
					</li>
				</ul>
                <% } else { %>
                <ul class="nav no-border">
					<li><a href="<%=BaseUrl%>/list"><span class="nav-icon"><i data-feather="power"></i> </span><span class="nav-text">Login</span></a>
					</li>
				</ul>
                <% } %>
				<!-- <ul class="nav no-border">
					<li><a href="logout.php"><span class="nav-icon"><i data-feather="power"></i> </span><span class="nav-text">Logout</span></a>
					</li>
				</ul> -->
			</div><br><br><br>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="<%=BaseUrl%>/employee/html/push.js"></script>
<script type="text/javascript">
	// permission for push
	Push.Permission.request();
	
	
	function myFunction(data) {
		//    if(data.data == data.data){
		// 	myFunction = function(){};
		//    }
		if (data.data1.length > 0) { 
			for(var i = 0; i < data.data1.length; i++ ) { 
			Push.create(data.data1[i].title,{
				
				body: data.data1[i].description,
				icon: '<%=BaseUrl%>/admin/assets/img/'+data.data1[i].image,
				timeout: 5000,
				onClick: function () {
					setRandomColor();
					window.focus();
					this.close();
				}
			});
		}}
	};


	function getRandomColor() {
		var letters = '0123456789ABCDEF';
		var color = '#';
		for (var i = 0; i < 6; i++) {
			color += letters[Math.floor(Math.random() * 16)];
		}
		return color;
	}
	function setRandomColor() {
		$("#colorpad").css("color", getRandomColor());
	}
</script>
<script>
$(document).ready(function(){
  setInterval(function () {getRealData(); getRealData2(); getRealData5();}, 1000);
})

function getRealData() {
	$.ajax({
   url:"<%=BaseUrl%>/unseen_note",
   method:"GET",
   dataType:"json",
   success:function(data)
   {
    if(data.data > 0)
    {
	 $('.count').html(data.data);
	 console.log(data.data)
    }
   }
  });
}

function getRealData5() {
	$.ajax({
   url:"<%=BaseUrl%>/sssss",
   method:"GET",
   dataType:"json",
   success:function(data)
   {
    if(data.data000 > 0)
    { 
		var coffee = "coffee";
		document.getElementById("HRPMTL").innerHTML = "<li><a href='<%=BaseUrl%>/leavs/1'><span class='nav-icon text-danger'><i data-feather='"+coffee+"'></i></span><span class='nav-text'>Leave Accept</span><span class='nav-badge'><b class='badge badge-pill bg-danger theme'></b></span></a></li>";
    }
   }
  });
}

function getRealData2() {
	$.ajax({
   url:"<%=BaseUrl%>/notify",
   method:"GET",
   dataType:"json",
   success:function(data)
   {
    if(data.data > 0)
    {
		myFunction(data);
		$.ajax({
		url:"<%=BaseUrl%>/notify_update",
		method:"GET",
		dataType:"json"
	    })
      }
    }
  });
}
</script>